html, body {
  cursor: default;
  background: black;
  margin: 0;
  height: 100%;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  margin: 0px;
}

@font-face {
  font-family: 'BalooBhai';
  src: url('../fonts/BalooBhai.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
} 
  
@keyframes itemActive {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: #c7b4ff;
    color: #c7b4ff;
  }
  100% {
    border-color: transparent;
  }
}

@keyframes backItemActive {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: #c75a5ab5;
    color: #c75a5ab5;
  }
  100% {
    border-color: transparent;
  }
}

@keyframes sharpen {
  from {
   -webkit-filter: blur(25px);
   filter: blur(25px);
  }
  to {
   -webkit-filter: blur(0);
   filter: blur(0);
  }
}
.content {
  display: -webkit-inline-box;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  padding: 0;
  margin: 0;
  -moz-animation: sharpen .5s both;
  -webkit-animation: sharpen .5s both;
  animation: sharpen .5s both;
}
.version {
  color: #2f2f2f;
  display: -webkit-box;
  margin: 12px;
}
body{
  padding:0;
  margin:0;
  background:black;
  color:#2c2c3b;
  font-family: 'BalooBhai';
}
        
.header{
  width:70%;
  height:100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 100px;
  font-size: 95px;
  margin-top: 35px;
}
  
.menu{
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 22%;
}
  
.button{
  display: block;
  border: 3px solid #101217b5;
  border-radius: 21px;
  padding: 19px;
  background: #3b2a5f;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  transition: .25s;
  width: 180px;
  cursor: pointer;
  box-shadow: 0px 0px 37px -12px black;
}

.button:hover {
  -moz-animation: itemActive 1.2s infinite;
  -webkit-animation: itemActive 1.2s infinite;
  animation: itemActive 1.2s infinite;
}

.exit:hover {
  -moz-animation: backItemActive 1.2s infinite;
  -webkit-animation: backItemActive 1.2s infinite;
  animation: backItemActive 1.2s infinite;
}

a{
    text-decoration: none;
}

a:hover{
    color: #5e4e7c;
}
.logo {
  position: absolute;
  left: 50%;
  top: 8%;
  transform: translateX(-50%);
  font-size: 53px;
  color: white;
}

.main-content{
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 26%;
  float: right;
  display: -webkit-box;
  width: 34%;
  height: 471px;
  background: #07040e8c;
  border-radius: 15px;
  border: 3px solid #140c25;
}

.exit {
  background: #101217!important;
}


@keyframes particleBackground {
  0% {
    background-color: #23274100;
  }
  25% {
    background-color: #23274129;
  }
  50% {
    background-color: #23274142;
  }
  75% {
    background-color: #23274129;
  }
  100% {
    background-color: #23274100;
  }
}

canvas{ display: block; vertical-align: bottom; } /* ---- particles.js container ---- */ #particles-js{ position:absolute; width: 100%; height: 100%; animation: particleBackground 35s infinite; background-repeat: no-repeat; background-size: 20%; background-position: 50% 50%; } /* ---- stats.js ---- */ .count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } .js-count-particles{ font-size: 1.1em; } #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }